.footerSection {
  background-color: rgb(14, 1, 107);
  width: 100%;
  height: 400xp;
  position: relative;
  text-align: left;
  padding: 80px 0;
  display: flex;
  padding-top: 20;
  flex-direction: column-reverse;
}
.footerSection .mapaUbicacion {
  width: auto;
  height: auto;
  position: relative;
}
.footerSection .footer-contenedor {
  max-width: 1200px;
  margin: 0 auto;
}
.footerSection .footer-contenedor .footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footerSection .footer-contenedor .footer-row .footer-links {
  width: 25%;
  height: 0%;
  padding: 15px;
}
.footerSection .footer-contenedor .footer-row .footer-links .social-link {
  width: 25px;
  height: auto;
  margin-right: 10px;
}
.footerSection .footer-contenedor .footer-row .footer-links h4 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  padding-bottom: 10px;
  display: inline-block;
}
.footerSection .footer-contenedor .footer-row .footer-links p {
  color: white;
}
.footerSection .footer-contenedor .footer-row .footer-links h5 {
  color: #ffffff;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  height: 800px;
}

.fondo-header {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.fondo-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../img/pruebaFondo.avif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 145vh;
  position: relative;
  background: linear-gradient(rgb(1, 27, 110) 25%, rgb(11, 0, 66) 73%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 80px;
  margin-right: 10px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }
}
.portada0km {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  z-index: -1;
}

.menu-conteiner {
  max-width: relative;
  position: relative;
  z-index: 1;
}
.menu-conteiner .logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.menu-conteiner .logo .leonLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: auto;
  padding-left: auto;
}
.menu-conteiner .navbar ul li {
  position: initial;
  float: left;
}
.menu-conteiner .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #ffffff;
  display: flex;
}
.menu-conteiner .navbar ul li a:hover {
  color: #15a4fe;
}

#menu {
  display: inline-block;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  .menu {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .back {
    padding: 40px 0;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2a394f;
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
}
main {
  background-color: rgba(255, 255, 255, 0);
}

#portada {
  color: #ffffff;
  text-align: center;
}

#historia {
  color: #ffffff;
  text-align: center;
}

.col-md-6 {
  color: #fbfafa;
  text-align: center;
}

.col-md-7 {
  color: #fbfafa;
  background-color: rgb(14, 1, 107);
  text-align: center;
}

.box1 {
  color: #ffffff;
  border-top: 100;
  background-color: rgb(14, 1, 107);
  border-left: 1cm;
}

.titulo {
  text-align: center;
  position: inherit;
  color: #090000;
}

#taller {
  display: flex;
  justify-content: space-around;
}
#taller .tarjteServicio {
  flex: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgba(14, 6, 166, 0.7254901961);
  border: 0px solid #0d0000;
  border-radius: 8px;
  text-align: center;
  margin: 16px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#taller .tarjteServicio .contenidoTarjeta {
  flex-grow: 1;
  flex-shrink: 1;
}
#taller .tarjteServicio .botonTarjeta {
  background-color: rgba(9, 1, 71, 0.51);
  padding: 10px;
}

#noticias h2 {
  color: #fbf9f9;
  text-align: center;
  background-color: rgb(14, 1, 107);
}
#noticias .box {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  color: #000000;
  background-color: rgba(46, 46, 127, 0.7254901961);
}
#noticias .box .imagenBox .imagenNoticias1 {
  width: 100%;
}

.tituloNuevos {
  color: white;
}

.tarjetaNuevos {
  width: 300;
  height: 200;
  flex: 50;
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(187, 184, 228, 0.137254902);
  border: 0px solid #0d0000;
  border-radius: 8px;
  text-align: center;
  margin: 15px;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.tarjetaNuevos .contenidoTarjNuevos {
  flex-grow: 1;
  flex-shrink: 1;
}
.tarjetaNuevos .botonTarjNuevos {
  background-color: rgb(14, 1, 107);
  padding: 1px;
}

.tituloAdministracion {
  color: white;
  text-align: center;
}

.contenidoAdministracion {
  color: white;
  text-align: center;
}

.linkAdministracion {
  text-align: center;
  text-decoration-line: underline;
  background-color: rgba(187, 184, 228, 0.137254902);
  border: 0px solid #0d0000;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 30;
}

.contacto {
  width: 300;
  flex: 50;
  display: flex;
  flex-direction: column;
  color: rgb(12, 12, 12);
  border: 0px solid #0d0000;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.imagen1Service {
  width: 100%;
}

.tituloUsados {
  text-align: center;
  color: white;
}

.c {
  background-color: rgb(0, 0, 0);
  justify-content: center;
  display: flex;
  margin: 30px;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

h1 {
  text-align: center;
}

main table {
  align-items: center;
  background-color: rgb(5, 5, 165);
}

#preciosNuevos {
  align-items: center;
}

main table th,
td {
  background-color: rgb(243, 237, 237);
}

#desplegable {
  width: 400px;
  height: 30px;
  position: initial;
}

/*# sourceMappingURL=style.css.map */
