/* header section*/

header {
    background-color: rgb(14, 1, 107);
    background-size: cover;
    height: max-content;

}
.portada0km {
    width: 100%;
    height: auto;
}

.menuHamburguesa {
    position: absolute;
    top: 0;
    right: 02;
    width: 100%;
    display: flex;
    align-items: center ;
    padding: 10px;
    background-color: rgba(9, 57, 99, 0.358);
}

.menuHamburguesa ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.menuHamburguesa li {
    display: inline;;
}

.hamburguesa {
    font-size: 24px;
    cursor: pointer;
}

.opcionesMenu{
    position: relative;
    top: 0;
    right: 2;
    width: 100;
    display: flex;

}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#portada {
    text-align: left;
}

#historia {
    text-align: center;
}

.col-md-6 {
    text-align: center;
}

.box1 {
    border-top: 100;
    background-color: rgb(0, 0, 92);
    border-left: 1cm;
}

.titulo {
    position: inherit;
}

#taller {
    display: flex;
    justify-content: space-around;
}

.tarjteServicio {
    border: 0px solid #0d0000;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin: 16px;
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


#noticias .box {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    color: #060606;
    background-color: #0d03c71a;
}

.tarjetaNuevos {
    display: inline-block;
    text-align: center;
    border: px solid #0d0000;
    border-radius: 28px;
    padding: 10px;
    margin: 5px;
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}



/* body section*/

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


ul,
ol {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
}

main table {

    align-items: center;
    background-color: rgb(5, 5, 165);
}

.preciosNuevos {
    align-items: center;
}

main table th,
td {
    background-color: rgb(243, 237, 237);
}

/* footer section*/
.footerSection {
    background-color: rgb(9, 9, 92);
    width: auto;
    height: 400xp;
    position: relative;
    text-align: right;
    padding: 10px;
    display: flex;
    padding-top: 20;
    flex-direction: row;

}

#redes {
    flex: auto;
    flex-direction: column;
}

#desplegable {
        width: 400px;
        height: 30px;
        position: initial;
    }
