header {
    width: 100%;
    height: 600px;
    background: #2c3e50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #244e7d2a, #2c3e5053), url(../imagenes/2008.avif);
    background: linear-gradient(to right, #244e7d2a, #2c3e5091), url(../imagenes/2008.avif);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    .textos-header {
        display: flex;
        position: absolute;
        bottom: 0;
        height: 430px;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 50px;
            color: #ffffff;
        }

        p {
            font-size: 15px;
            font-weight: 300;
            color: #ffffff;
            text-align: center;
        }
    }
}

.fondo-header {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.fondo-header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../img/pruebaFondo.avif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

.logo {
    text-align: center;
    padding: 30px 50px 0 0;
}

nav a {
    color: white;
    font-weight: 300;
    /*mas ligera*/
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}


@media (max-width:700px) {
    header {
        flex-direction: column;
    }

    nav {
        padding: 10px 0px;
    }
}